doctype html
html
	head
		title Figaro Ipsum
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700italic', rel='stylesheet')
		link(href="/static/main.css", rel="stylesheet")
	body
		.container
			.page-header
				h1
					|Figaro Ipsum
					.small
						|How many paragraphs? 
						select(onchange="loadIpsum()")#paragraphs
							- var n = 1
							while n < 21
								option(value=n)=n
								- n++
			#ipsum
				!=message
		script.
			var e = document.getElementById('paragraphs');
			function loadIpsum(){
				window.location.search = "?p=" + e.value;
			}
			e.value = #{selected}
		script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")


